{% load staticfiles %}
<html lang="ru">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Oops! Something went wrong </title>
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'style/style.css' %}" rel="stylesheet">
    </head>
    
    <body>
          <div class="raw1">
              <div class="col-md-6-offset-3">  <div class="h1"> <p class="text-center">404. <br> <small>Ошибка 404... </small> </p> </div>  </div> 
          </div>
        <br> <br> <br> 
        <div class="raw2">
        <div class="col-md-6-offset-3"> <p class="text-center">Запрашиваемая Вами страница не существует. <br> 
        Возможно, она была удалена, а возможно — еще и не создана.<br> <br>
            Вы не расстраивайтесь, посмотрите другие страницы (у нас их много) и попейте чаю :) <br> P.S. Стили я навешу потом, правда.</p> </div> </div>
    </body>    
</html>
