{% load staticfiles %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Pin and play! Enjoy! </title>
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'style/style.css' %}" rel="stylesheet">
</head>
    <body>
        <form role="form">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Введите email">
                <p class="help-block">Пример строки с подсказкой</p>
            </div>
            <div class="form-group">
                <label for="pass">Пароль</label>
                <input type="password" class="form-control" id="pass" placeholder="Пароль">
            </div>
            <div class="checkbox">
                <label><input type="checkbox"> Чекбокс</label>
            </div>
            <button type="submit" class="btn btn-success">Войти</button>
        </form>
    </body>
</html>
