<html lang="ru">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Well done! You're pinned! </title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="style/style.css" rel="stylesheet">
    </head>
    
    <body> <div> <h1>ЗДЕСЬ БУДЕТ КРАСИВАЯ РАБОТА МАРКЕТОЛОГА О ТОМ, КАК ЖЕ КРУТО СТАТЬ ЧАСТЬЮ НАШЕЙ PIN-AND-PLAY СЕМЬИ И НУЖНО ТОЛЬКО ВЕРНУТЬСЯ И ЗАЙТИ</h1></div> 
    <div> И кнопочка перехода на главную тоже будет</div>
    </body>

</html>