body {
  font: Montserrat, sans-serif;
  line-height: 1.8;
  color: #555555;
  /*#f5f6f7;*/
}
/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
  background-color: #2f2f2f;
}
/* Remove the jumbotron's default bottom margin */
.header {
  margin-bottom: 0;
  background-color: #1abc9c;
}
p {
  font-size: 16px;
}
/* Add a gray background color and some padding to the footer */
.bg-4 {
  background-color: #2f2f2f;
  color: #fff;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.margin {
  margin-top: 0.5%;
  margin-bottom: -1.5%;
}
